*{
    padding: 0;
    margin: 0;
}
.login-container{
 background-image: linear-gradient(120deg, #3498db,#8e44ad);
 width: 100%;
 min-height: 100vh;
 box-sizing: border-box;

}

.login-form{
    background: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    height: 580px;
    width: 360px;
    padding: 80px 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-form h1{
    text-align: center;
    margin-bottom: 60px;
}

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
    padding: 0;
}

.txtb input{
    font-size: 1.2em;
    color: #333;
    border: none;
    width: 100%;
    padding: 0 5px;
    outline: none;
    background: none;
    height: 40px;
}

.txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%; 
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after{
    content: " ";
    position: absolute; 
    width: 0%;
    height: 2px;
    background:  linear-gradient(120deg, #3498db,#8e44ad);
    transition: .5s;
}


.focus + span::before{
    top: -12px;
    

}


.focus + span::after{

    width: 100%;
    
}

  



textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  background: #ddd;
}

/*--------------------------------------------------------------------------------*/

.dashboard{
    border: 2px solid red;
    padding: 30px 30px;
}

.dashboard .scrollabale{
    height: 200px;
    overflow-y: scroll;
}
table .ge {
    position: relative;
  }
  
  table .ge input {
    position: absolute;
  }
  .poste-coupe table,
.poste-coupe thead,
.poste-coupe tr,
.poste-coupe tbody,
.poste-coupe th,
.poste-coupe td {
  text-align: center;
}

.poste-coupe .table td {
  text-align: center;
}
/*--------------------------*/

.schema{
    border: solid 2px green;
}

/*----------------------------*/
